@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:wght@400;700&display=swap');
#container {width:800px;
    padding:auto;
    margin:auto;
    background-color:white;
    box-shadow:10px 10px rgb(83, 79, 73);
    }
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    line-height:1.5;
    font-family:'Lato',serif;
    font-size:12px;
    background-color:#e0e0e0;
}
h1{text-align:center;
    font-size:60px;
    text-shadow: 2.5px 2.5px rgb(61, 59, 59);
    font-family:'Playfair Display',serif; 
    color: white; 
    padding-top:25px; 
    margin-bottom:0;
    }
h2{color:green;
    margin-left:50px;
    font-family:'Playfair Display',serif;
    font-size:20px;

}
h4{font-family:'DM Serif Text', serif;
    font-size:15px; 
    margin-bottom:0;}
h5{font-size:14px;}
h6{font-family: 'DM Serif Text', serif; 
    font-size:13px; 
    margin-bottom:0;}
p{margin-right:10px;
    font-family:'Lato',serif;
}
ul li {
    font-size:14px;
    margin-left:15px;
}
a {color:steelblue;}
img {
border-radius:5%;
}
i{
    margin-right:8px;
}